* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background: rgb(207, 205, 61);
}

.container {
  width: 70vmin;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
 }

.main {
  margin: 2rem 0;
}

.btn {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  width: 70%;
  font-size: 1.5rem;
  text-transform: inherit;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:visited {
  background-color: rgb(112, 116, 57);
  color: white;
}
