main {
  background: rgb(19, 49, 18);
  color: rgb(204, 51, 51);
  padding: 2rem;
  background-image: url(../img/rocket.svg);
  background-repeat: no-repeat;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 5rem;
}