.green {
  background-color: rgb(137, 240, 137);
  color: black;
}

.red {
  background-color: rgb(236, 120, 120);
  color: white;
}

.digits {
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
  padding: 1rem;
}

span {
  display: inline-block;
  width: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 5px;
}
